In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("forestfires.csv")
df

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,small

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
df.shape

(517, 31)

In [6]:
df.dtypes

month             object
day               object
FFMC             float64
DMC              float64
DC               float64
ISI              float64
temp             float64
RH                 int64
wind             float64
rain             float64
area             float64
dayfri             int64
daymon             int64
daysat             int64
daysun             int64
daythu             int64
daytue             int64
daywed             int64
monthapr           int64
monthaug           int64
monthdec           int64
monthfeb           int64
monthjan           int64
monthjul           int64
monthjun           int64
monthmar           int64
monthmay           int64
monthnov           int64
monthoct           int64
monthsep           int64
size_category     object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

In [8]:
df_new_object = df.select_dtypes('object')
df_new_numerical =  df.select_dtypes(['int64','float64'])

In [9]:
df_new_numerical.describe()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292,0.164410,...,0.017408,0.038685,0.003868,0.061896,0.032882,0.104449,0.003868,0.001934,0.029014,0.332689
std,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818,0.371006,...,0.130913,0.193029,0.062137,0.241199,0.178500,0.306138,0.062137,0.043980,0.168007,0.471632
min,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
from sklearn.preprocessing import LabelEncoder
for i in df_new_object:
    LE = LabelEncoder()
    df_new_object[i] = LE.fit_transform(df_new_object[i])

In [11]:
#combine the numerical and categorical datatype
df_new_data = pd.concat([df_new_numerical,df_new_object],axis =1)
df_new_data

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,month,day,size_category
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,...,0,0,1,0,0,0,0,7,0,1
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,...,0,0,0,0,0,1,0,10,5,1
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,...,0,0,0,0,0,1,0,10,2,1
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,...,0,0,1,0,0,0,0,7,0,1
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,...,0,0,1,0,0,0,0,7,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,...,0,0,0,0,0,0,0,1,3,0
513,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,...,0,0,0,0,0,0,0,1,3,0
514,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,...,0,0,0,0,0,0,0,1,3,0
515,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,...,0,0,0,0,0,0,0,1,2,1
516,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,...,0,0,0,0,1,0,0,9,5,1

In [12]:
from sklearn.preprocessing import StandardScaler
for i in df_new_data:
    SS = StandardScaler()
    df_new_data = SS.fit_transform(df_new_data)

In [13]:
column = ['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep','size_category']
df_new_data = pd.DataFrame(df_new_data,columns = column)

In [14]:
X = df_new_data.drop('size_category',axis = 1)
Y = df['size_category']

In [15]:
#Data Partition 
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 42)

In [16]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(361, 30) (156, 30) (361,) (156,)

In [17]:
#Data modeling
from sklearn.svm import SVC
S = SVC()
S.fit(X_train,Y_train)
S.score(X_train,Y_train)

0.7811634349030471

In [18]:
Y_pred_train = S.predict(X_train)
Y_pred_test = S.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score,classification_report
print('Training Accuracy',accuracy_score(Y_pred_train,Y_train).round(2))
print('Testing Accuracy',accuracy_score(Y_pred_test,Y_test).round(2))

Training Accuracy 0.78
Testing Accuracy 0.77

In [20]:
#For doing the hyper parameter tuning for getting better accuarcy
from sklearn.model_selection import GridSearchCV
kernel = ['linear','ploy','rbf','sigmoid']
C = [1,2,3,4]
gamma = [10,20,30]
param = {
    'kernel':kernel,
    'C':C,
    'gamma':gamma
}
result = GridSearchCV(estimator = S,param_grid = param,n_jobs =-1,cv = 5)
result.fit(X_train,Y_train)
print(result)

GridSearchCV(cv=5, estimator=SVC(), n_jobs=-1,
             param_grid={'C': [1, 2, 3, 4], 'gamma': [10, 20, 30],
                         'kernel': ['linear', 'ploy', 'rbf', 'sigmoid']})

In [21]:
result.best_params_

{'C': 4, 'gamma': 10, 'kernel': 'linear'}

In [22]:
from sklearn.svm import SVC
S = SVC(kernel  = 'linear',C=4,gamma = 10)
S.fit(X_train,Y_train)
S.score(X_train,Y_train)

0.9695290858725761

In [23]:
Y_pred_train = S.predict(X_train)
Y_pred_test = S.predict(X_test)
from sklearn.metrics import accuracy_score,classification_report
print('Training Accuracy',accuracy_score(Y_pred_train,Y_train).round(2))
print('Testing Accuracy',accuracy_score(Y_pred_test,Y_test).round(2))

Training Accuracy 0.97
Testing Accuracy 0.95

In [24]:
#cross validation
from sklearn.model_selection import KFold,cross_val_score
K = KFold(n_splits = 5)
result = cross_val_score(S,X,Y,cv = K)
print(result)

[0.99038462 0.89423077 0.93203883 0.9223301  0.97087379]

In [25]:
#mean for the KFold cross validation
print(np.mean(result).round(2))

0.94